@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
   .displayl {
    @apply text-[57px] leading-[64px] font-semibold tracking-[-0.25px]
   }
   .displaym {
    @apply text-[45px] leading-[52px] font-semibold
   }
   .displays {
    @apply text-[36px] leading-[44px] font-semibold
   }

   .headlinel {
    @apply text-[32px] leading-[40px] font-semibold 
   }
   .headlinem {
    @apply text-[28px] leading-[36px] font-semibold 
   }
   .headlines {
    @apply text-[24px] leading-[32px] font-semibold 
   }

   .titlel{
    @apply text-[22px] leading-[28px]
   }
   .titlem{
    @apply text-[16px] leading-[24px] font-medium tracking-[0.15px]
   }
   .titles{
    @apply text-[14px] leading-[20px] font-medium tracking-[0.1px]
   }

   .labell{
    @apply text-[14px] leading-[20px] font-medium tracking-[0.1px]
   }
   .labelm{
    @apply text-[12px] leading-[16px] font-medium tracking-[0.5px]
   }
   .labels{
    @apply text-[11px] leading-[16px] font-medium tracking-[0.5px]
   }

   .bodyl{
    @apply text-[16px] leading-[24px] tracking-[0.5px]
   }
   .bodym{
    @apply text-[14px] leading-[20px] tracking-[0.25px]
   }
   .bodys{
    @apply text-[12px] leading-[16px] tracking-[0.4px]
   }

   .hide-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;    
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; 
  }
}
